/* ----------------------------*/
/* style.css ------------------*/
/* ----------------------------*/
/* CSS STARTS HERE ------------*/
/* ----------------------------*/

/* 1. Global Style Settings */
/* 1.1. Style for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 2. Style for the Polaroid Frame */
/* 2.1. Style for the number container */
#numberContainer {
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(189, 183, 183);
    border: 1px solid #fff;
    padding: 2vh;
    padding-bottom: 5vh;
    margin-bottom: 4vh;
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
}

/* 2.2. Style for the comment area */
.comment {
    position: absolute;
    bottom: 1vh;
    width: 90%;
    text-align: center;
    font-style: italic;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

/* 3. Style for the Buttons */
/* 3.1. Style for individual buttons */
button {
    margin: 1vh;
    padding: 2vh 2vh;
    cursor: pointer;
    font-size: 3vh;
}

button:hover {
    opacity: 0.5;
}

/* 4. Responsive Design Adjustments */
/* 4.1. Style adjustments for landscape orientation */
@media screen and (orientation: landscape) {
    body {
        flex-direction: row;
        justify-content: space-around;
    }

    #dislikeButton {
        order: 1;
    }

    #numberContainer {
        order: 2;
        width: 40vh;
        height: 60vh;
    }

    #likeButton {
        order: 3;
    }
}

/* 4.2. Style adjustments for portrait orientation */
@media screen and (orientation: portrait) {
    body {
        flex-direction: column;
        justify-content: space-around;
    }

    #numberContainer {
        width: 40vw;
        height: 60vw;
    }

    #dislikeButton, #likeButton {
        position: absolute;
        bottom: 10%;
    }

    #dislikeButton {
        left: 25%; /* Position the dislike button on the left side */
    }

    #likeButton {
        right: 25%; /* Position the like button on the right side */
    }
}

/*-----------------------------*/
/* END OF CSS -----------------*/
/* ----------------------------*/
/* CREATED BY MOLDOVAN --------*/
/* ----------------------------*/
/* CSS BY GPT -----------------*/
/* ----------------------------*/